meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Trazado de patrones
meta(meta name="description" content="En este componente se aborda el manejo de software o programa digital para la elaboraci칩n y el desarrollo de planos, moldes o trazos de patronaje, desde el reconocimiento de la interfaz, el trazo de los b치sicos, prendas de vestir, despiece y an치lisis de cada una de las partes que componen una prenda, de igual manera se trabajar치n las generalidades del proceso de tendido, trazo y corte de prendas.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")