h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Elaborar patrones base de prendas de vestir en forma manual y sistematizada respondiendo a parámetros de industrialización.
           




