.container
    .header-ecored
        h1 2. Trazo y corte manual
    .jumbotron.bg-white   
        h1.color_tex_2 Introducción
        img.mt-5.img-a(src="assets/images/pages/tema_2/img_1.png").img-fluid

        .sub-ecored.mt-5#tema2_1
            h2 2.1 Reconocimiento de las prendas

        .row.justify-content-center
            .col
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        h2.color-text_3.text-right ¿Para qué? 
                        .card-media
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_2/img_2.png").img-fluid
                                p.card__copy 
                                    span 
                                        | El reconocimiento de las partes que componen una prenda de vestir, es sumamente importante para el proceso de trazo y corte, ya que de esto depende una adecuada interpretación de los requerimientos para el corte de la prenda.

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_3.png").img-fluid

        .row.justify-content-center.mt-5
            .col-md-8.my-md-0
                .card.color-6
                    .header-cop
                        h2.text-center Dibujo técnico
                    .card-body.jumbo_1
                    
                        p Representación detallada de una prenda, es decir se deben identificar todas las características técnicas de la prenda, pespuntes botones, costuras, pinzas, acabados. No tiene movimiento y se debe identificar delantero y posterior. Resume detalles de la prenda, y cada una de las partes que la componen.

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_4.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_5.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_6.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_7.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_8.png").img-fluid

        .header-arrow_1.span_table_3.mt-5
            h2.text-center RECONOCIMIENTO DE LAS PARTES QUE CONFORMAN UNA PRENDA DE VESTIR

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_9.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_10.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_11.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_12.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_13.png").img-fluid

        .header-arrow_1.span_table_3.mt-5
            h2.text-center RECONOCIMIENTO DE LAS PARTES QUE CONFORMAN UNA PRENDA DE VESTIR

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_14.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_15.png").img-fluid    

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_16.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_17.png").img-fluid  

        .header-arrow_1.span_table_3.mt-5
            h2.text-center RECONOCIMIENTO DE LAS PARTES QUE CONFORMAN UNA PRENDA DE VESTIR

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_18.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_19.png").img-fluid 

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_20.png").img-fluid 

        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center 
            section.mt-5

                a(href="media/documentos/10.1_RECONOCIMIENTO_DE_LAS_PRENDAS.pdf" target="_blank").media-link      
    
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo]. 2.1 RECONOCIMIENTO DE LAS PRENDAS

        .sub-ecored.mt-5#tema2_2
            h2 2.2 Introducción a Trazo y corte

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_21.png").img-fluid 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_22.png").img-fluid 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_23.png").img-fluid 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_24.png").img-fluid 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_25.png").img-fluid 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_26.png").img-fluid 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_27.png").img-fluid 

        h2.mt-5 SESGO O BIES

            p.mt-5 Se llama sesgo o bies al sentido diagonal de las telas en un ángulo de 45° grados. diagonal, o al sesgo, aportan mejor caída y cierta elasticidad. En algunos casos es necesario cortar las piezas de una prenda al sesgo por razón del diseño.

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_28.png").img-fluid 

            .header-arrow_1.span_table_3.mt-5
                h2.text-center En el material textil

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_29.png").img-fluid 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_30.png").img-fluid 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_31.png").img-fluid 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_32.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_33.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_34.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_35.png").img-fluid

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .row.justify-content-center 
                section.mt-5

                    a(href="media/documentos/10.2_INTRODUCCION_A_TRAZO_Y_CORTE.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.2 INTRODUCCIÓN A TRAZO Y CORTE

        .sub-ecored.mt-5#tema2_3
            h2 2.3. Proceso de extendido

            .row.justify-content-center
                .col
                    .row.justify-content-center.mt-5

                        .col-10.col-md-8
                            h2.color-text_3.text-right ¿Qué es el extendido? 
                            .card-media
                                .card-media__body.jumbo_1                 
                                    figure.card__figure
                                        img(src="assets/images/pages/tema_2/img_2.png").img-fluid
                                    p.card__copy 
                                        span 
                                            | El tendido o extendido consiste en ubicar la tela sobre una superficie plana (mesa de corte), ya sea una capa de tela o varias según la orden de producción. Se extiende la tela considerando las características del textil, se prepara y selecciona los materiales e instrumentos necesarios para la ejecución de la tarea, La extendida se puede realizar de dos formas: 

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_36.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_37.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_38.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_39.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_40.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_41.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_42.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_43.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_44.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_45.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_46.png").img-fluid

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .row.justify-content-center 
                section.mt-5

                    a(href="media/documentos/10.3_PROCESO_DE_EXTENDIDO.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.3 PROCESO DE EXTENDIDO

        .sub-ecored.mt-5#tema2_4
            h2 2.4 Tipos de trazo

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_47.png").img-fluid

        h2.mt-5.color_tex_1 Tipos de trazo

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_48.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_49.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_50.png").img-fluid

            .row.justify-content-center 
                section.mt-5

                    a(href="media/documentos/10.4_TIPOS_DE_TRAZO.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.4 TIPOS DE TRAZO

        .sub-ecored.mt-5#tema2_5
            h2 2.5. Tendido marcación y corte

        h2.color_tex_1 Introducción

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_51.png").img-fluid

        h2.color_tex_1 Ancho útil

            p.mt-5 Es importante identificar el ancho útil del material textil antes de empezar a desarrollar el trazo; Se sugiere lo siguiente:

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_52.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_53.png").img-fluid

        h2.color_tex_1 Ubicar patrones

            p.mt-5 Una vez identificado analizado y alistado:

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_54.png").img-fluid

            p.mt-5 Se procede a hacer el trazo o marcación del molde o patrón en el textil.

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_55.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_56.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_2/img_57.png").img-fluid

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .row.justify-content-center 
                section.mt-5

                    a(href="media/documentos/10.5_TENDIDO_MARCACION_Y_CORTE.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.5 TENDIDO MARCACIÓN Y CORTE

        .sub-ecored.mt-5#tema2_6
            h2 2.6 Características del material

        h2.color_tex_1 Tipos de trazo

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_58.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_59.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_60.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_61.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_62.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_63.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_64.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_65.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_66.png").img-fluid

        .sub-ecored.mt-5#tema2_6_1
            h2 2.6.1 Ejemplo de tipos de tendido con diferentes características del material

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .row.justify-content-center 
                section.mt-5

                    a(href="media/documentos/10.6_CARACTERISTICAS_DEL_MATERIAL.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.6.1 ARCHIVO DESCARGABLE

        .sub-ecored.mt-5#tema2_7
            h2 2.7 Terminología industrial de trazo y corte

        h2.mt-5.color_tex_1 Tiqueteado

        p.mt-5 Consiste en rotular cada una de las piezas cortadas, identificando el lote, nombre de la pieza, talla y un consecutivo para contribuir en el orden del sistema operacional. Se usa Tiqueteadora con su papel adhesivo. Es importante definir la ubicación en la pieza, se trabaja por el revés de tela.

        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/uO2HGq24lkE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        h2.mt-5.color_tex_1 Operaciones auxiliares de corte

        p.mt-5 Interviene personal auxiliar para apoyar el proceso.

        h2.mt-5.color_tex_1 Fusionado

        p.mt-5 Una vez se corta la tela y la entretela, existen piezas programadas para entretelar por eso se requiere utilizar fusionadora, equipos por los cuales a presión y calor se adhiere la entretela a la tela. Es importante el control de temperatura según el textil puede generar encogimiento. Para observar el proceso en el video “Máquina de fusionar tela” del material complementario puede apreciar la operación.

        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/56wpJlyR_v4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center.mt-5
                .col-12.col-md-10
                    .jumbotron.jumbo_1
                        .row.justify-content-center
                            .col-6
                                h2.color_tex_1 Paqueteo
                                p.mt-5 Consiste en separar bloque de las piezas cortadas, paqueteando la cantidad definida, todas las piezas que conforman la prenda y amarrando, conformando paquetes de 10 a 20 unidades, para así facilitar el control de producción, por ende, de calidad. Una vez se paquete es importante el almacenamiento utilizando técnica de KANBAN, para entregar a ensamble.
                            .col-6
                                h2.color_tex_1 Tecnología en corte
                                p.mt-5 La tecnología en el área de corte se inicia en trazo asistido por computador en los programas especializados, los cuales ahorran tiempo y espacio. Requieren de programas integrados y compatibles que comuniquen al cabezal de corte las piezas a cortar. Para el transporte de telas y paquetes cortados se usan bandas o carros, se usan también para entregar los paquetes debidamente paqueteados al área de ensamble.

        h2.mt-5.color_tex_1 Software de corte

        p.mt-5 Con los programas especializado de audaces, Gerber, Optitex o Lectra, existe módulos especializados en trazo para facilitar el corte de las prendas, los hace más precisos, disminuye desperdicios de tiempos y de materia prima. Se requiere además del computador y el programa, el plotter para poder imprimir los trazos. Pero en el caso que el corte sea automático, el cabezal va cortando sobre la tela sin necesidad de la previa impresión del trazo.
        
        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/C0O6derJC2s', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/fscxWYsenLE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')