.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Interfaz:
            | la interfaz pds de optitex es el componente más importante que los usuarios deben dominar. la interfaz pds es la puerta de entrada a las características, configuración y administración de patrones de pds.
        p
            strong.mr-2 Marker:	
            | herramienta de diseño de corte que permite planificar y optimizar el uso de textiles a través de anidamiento automatizado o colocación manual de piezas en la mesa de trazo.
        p 
            strong.mr-2 Optitex:	
            | es un programa de diseño de patrones de origen israelí. muy útil en las empresas dedicadas a la elaboración de prendas de vestir, industria textil, industria del hogar

        p 
            strong.mr-2 PDS:  	
            | sistema de diseño de patrones.

        p 
            strong.mr-2 Piquetes:
            | línea corta (0,3 máximo 0, 5 cm) en dirección perpendicular al molde, señaladas en el patrón con el fin de facilitar la operación de confección, al indicar ubicaciones, guiar al unir cortes.

        p 
            strong.mr-2 Procedimiento:
            | descripción precisa de los pasos para realizar un proceso. es la respuesta al cómo hacer el proceso. 

        p
            strong.mr-2 Proceso:
            | descripción general de los pasos de una actividad o conjunto de operaciones.

        p
            strong.mr-2 Talla:	
            | expresión normalizada que permite identificar a las personas para el uso de prendas de vestir.