.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white 
      img.img-a(src="assets/images/pages/introduccion/img_1.png").img-fluid

      img.mt-5.img-a(src="assets/images/pages/introduccion/img_2.png").img-fluid
              