.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody


                tr
                    td Araque, J. (13 de noviembre de 2013). Tiqueteador de tela. Youtube
                    td Video
                    td 
                        a(href="https://youtu.be/uO2HGq24lkE", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Digitalmentes asesorías. (28 de junio de 2020). Manipulando pinzas en Optitex. Youtube
                    td Video
                    td 
                        a(href="https://youtu.be/7X9G8DTMV9w", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Fernando Jaramillo - Soluciones automatizadas.	
                    td Manual
                    td 
                        a(href="https://drive.google.com/file/d/1_fWNDEoaSGKPfnF-e6EUmI0LofJeJcQc/view?usp=sharing", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Juan Araque, 13 de noviembre del 2013, Tiqueteador de tela	
                    td Video
                    td 
                        a(href="https://youtu.be/uO2HGq24lkE", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar    

                tr
                    td Evalds Paulins, 13 de Julio 2019, Máquina fusionadora
                    td Video
                    td 
                        a(href="https://www.youtube.com/embed/56wpJlyR_v4", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  

                tr
                    td Herramientas digitales Moda, 13 de junio 2018, AUDACES TIZADA Trazo
                    td Video
                    td 
                        a(href="https://youtu.be/C0O6derJC2s", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Herramientas digitales Moda, 15 de marzo 2018, OPTITEX - MARKER Trazo de patrones
                    td Video
                    td 
                        a(href="https://youtu.be/fscxWYsenLE", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Gutiérrez Rengifo, Lucy Alejandra, Moncayo Velazco, Adriana Ximena Instructora, Tanaka, Kenji Instructora, Kimura, Funiyo Experta, and Moreno Brand, Diana Coordinadora. Manual De Patronaje Básico E Interpretación De Diseños. Bogotá: SENA, Japan Inernational Cooperation Agency "jica", 2011. Print.
                    td Libro
                    td 
                        a(href="https://drive.google.com/file/d/18jpzqbMCPtoXlPl2Oy6PrDHEa_Nw9vOp/view?usp=sharing", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar