
.ContBg1 {    
    border-radius: 16px;    
    padding: 2em;
    color: white;
    background: linear-gradient(0deg, #6b42c3 0%, #5F29BF 100% );
    box-shadow:2px 2px 8px #e3e3e3; 
};

.ContBg2 {    
    border-radius: 16px;    
    padding: 2em;
    color: white;
    background: linear-gradient(0deg, #5F29BF 0%, #6b42c3 100% );
    box-shadow:2px 2px 8px #e3e3e3; 
};

.ContBgImgRigth {    
    margin: 4em 3em 4em 1em;

    @media screen and (max-width: 767px){
        margin: 2em 0;
    };
};

.ContBgImgLeft {    
    margin: 4em 1em 4em 3em;

    @media screen and (max-width: 767px){
        margin: 2em 0;
    };
};

.ImgRigth {
    margin: -4em -4em -4em 0em;

    @media screen and (max-width: 991px){
        margin: 2em auto 0 auto;
        width: 60%;   
    };

    @media screen and (max-width: 767px){
        width: 100%;   
    };
};

.ImgLeft {
    margin: -4em 0em -4em -4em;

    @media screen and (max-width: 991px){
        margin: 0em auto 2em auto;
        width: 60%;   
    };

    @media screen and (max-width: 767px){
        width: 100%;   
    };
};

.collapsable-title{
    color:$brand-color-light;
};

.ContBg3 {
    display: inline-flex;
    width: 100%;
    border-radius: 16px;
    background-color: #FBF9F4;
    box-shadow:2px 2px 8px #e3e3e3;

    .cont20 {
        width: 25%;
        background-color: #673AB7;
        border-radius: 16px;
        padding: 1.5em;
        color: white;        
    };

    .cont70 {
        width: 75%;
        padding: 1.5em;
    };
};

.ImgNeg {
    margin: -4em auto;

    @media screen and (max-width: 767px){
        margin: -4em auto 2em auto;
    };
};

.img-fluid2 {
    max-width: 75%;

    @media screen and (max-width: 1200px){
        max-width: 100%;
    };
};

.ContBg4 {
    width: 60%;
    border-radius: 16px;
    padding: 2em;
    background-color: #FBF9F4;
    box-shadow:2px 2px 8px #e3e3e3;

    @media screen and (max-width: 991px){
        width: 85%; 
    };

    @media screen and (max-width: 767px){
        width: 100%; 
    };
};

.ContBg5 {
    width: 75%;
    border-radius: 16px;
    padding: 2em;
    background-color: #FBF9F4;
    box-shadow:2px 2px 8px #e3e3e3;

    @media screen and (max-width: 991px){
        width: 85%; 
    };

    @media screen and (max-width: 767px){
        width: 100%; 
    };
};

.list01 {
    & li {
        list-style: none;
        margin-bottom: 14px;
    };
    & li::before {
        content: "\27A4";
        color: #b18efc !important;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
        margin-right: 0.5em;
    };    
};

.prbg-t1 {
    position: absolute;
    width: 90%;
    margin: auto;
    bottom: -30px;
    border-radius: 12px;
    left: 0;
    right: 0;
    color: white;
    background: linear-gradient(0deg, #5F29BF 0%, #6340ad 100% );
    padding: 0 16px;

    @media screen and (max-width: 991px){
        position: relative;
    };
};

.TextColor1 {
    color: $brand-color-light;
};

.BgColorMid {
    position: absolute;
    top: 25%;
    left: -1.5em;
    width: 110%;
    height: 50%;
    background-color: #DFD7EC;
};

.W80g {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 991px){
        width: 85%; 
    };

    @media screen and (max-width: 767px){
        width: 100%; 
    };
};

.CTcolor {
    color: white !important;
    background-color: #895CD8 !important;
    border-radius: 6px;
};

.BgColorF {
    background-color: #E2D5FB;
    border-radius: 12px;
};

.list02 {
    & li {
        list-style: none;
        margin-bottom: 14px;
        font-size: 20px;
        font-weight: bold;
        color: $brand-color-light;
    };
    & li::before {
        content: "\27A4";
        color: #6f37e9 !important;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
        margin-right: 0.5em;
    };    
};

.BgTransp {
    background-color: transparent !important;
    border: none !important;
};